/* sección #hebe */

/* carousel */
/* corrijo el ancho del contenido y los botones ' original 15%  
*/
.carousel-control-next, .carousel-control-prev {
	width: 10%;
}
.carousel-caption {
	right: 10%;
	left: 10%;
    top:0;
}
/* aplicando flex a los textos del carousel */
.carousel-caption-content{
    top: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
