/* sección #otras-obras */

.gallery-hs{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.gallery-content-hs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

}
.gallery-item-hs{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    
}